API_KEY=your-api-key-here
BASE_URL=https://your-api-base-url-here # OpenAI compatible API base URL

MAIN_MODEL_ID=your-main-model-id-here
REPORT_MODEL_ID=your-report-model-id-here
RESEARCH_MODEL_ID=your-research-model-id-here
SCOPING_MODEL_ID=your-scoping-model-id-here
VERIFY_MODEL_ID=your-verify-model-id-here

RESEARCH_SEARCH_TOOL_LIMIT=15

TAVILY_API_KEY=your-tavily-api-key-here

# Optional: MCP configuration file (JSON). Default: mcp_config.json
MCP_CONFIG_FILE=mcp_config.json


# LangSmith configuration
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<your-api-key>
LANGSMITH_PROJECT="Deep Research"